body {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    height: 150px;
    display: flex;
    background-color: #00474C;
    padding: 5px;
}

.footer_contacts {
    color: #FFFFFF;
    line-height: 20px;
}

footer img {
    position: absolute;
    height: 150px;
    right: 5px;
}