div,
img,
main,
body {
    box-sizing: border-box;
}

main {
    min-height: 900px;
    padding: 5px 70px 30px 70px;
    background-color: #0F1818;
}

h1 {
    font-size: 30px;
    text-align: center;
    padding: 15px;
    color: #93C4C7;
}

.parent_container {
    display: grid;
    grid-template-rows: 50% 50%;
    width: 80vw;
    height: 80vw;
    position: relative;
    margin: auto;
}

.first_child_container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80vw;
    height: 40vw;
}

.second_child_container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 80vw;
    height: 40vw;
}

.first_left {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 40vw;
    height: 40vw;
}

.first_right,
.second_middle {
    width: 40vw;
    height: 40vw;
    display: grid;
}

.second_left,
.second_right {
    display: grid;
    grid-template-rows: 50% 50%;
    width: 20vw;
    height: 40vw;
}

.first_left img,
.second_left img,
.second_right img {
    width: 20vw;
    height: 20vw;
}

.first_right img,
.second_middle img {
    width: 40vw;
    height: 40vw;
}

.parent_container img {
    border: 5px solid #0F1818;
}