body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    min-height: 750px;
    padding-top: 5px 5px 10px 5px;
    background-color: #0F1818;
}

h2{
    font-size: 30px;
    text-align: center;
    padding: 15px;
    color: #93C4C7;
}

table {
    width: 95%;
    border-collapse: collapse;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
}

tr{
    height: 50px;
}

td{
    border: 2px solid #000000;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
}

td:nth-child(1) {
    background-color: #93C4C7;
}

thead td {
    color: #ffffff;
    background-color: #00474C;
}

#first_sell {
    background-color: #00474C;
}

tbody>tr:nth-child(1){
    background-color: #ebe8dc;
}

tbody>tr:nth-child(2){
    background-color: #5ebfffd0;
}

tbody>tr:nth-child(3){
    background-color: #c0e6fff5;
}

tbody>tr:nth-child(4){
    background-color: #fdff88;
}

tbody>tr:nth-child(5){
    background-color: #95ff95f6;
}

tbody>tr:nth-child(6){
    background-color: #ffa0c5;
}

main ul{
    color: #000000;
    background-color: #93C4C7;
    margin: 5px;
    margin-bottom: 0;
    padding: 25px;
    list-style-type: disc;
}

main li{
    font-size: 20px;
    line-height: 24px;
}