body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    min-height: 500px;
    padding: 5px 70px 30px 70px;
    background-color: #0F1818;
}

h1{
    font-size: 30px;
    text-align: center;
    margin: 15px;
    color: #93C4C7;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 5%;
}

tr{
    height: 50px;
}

td{
    border: 2px solid #000000;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
}

td:nth-child(1) {
    background-color: #93C4C7;
}

thead td {
    color: #ffffff;
    background-color: #00474C;
}

#first_sell {
    background-color: #00474C;
}

.silks{
    background-color: #ebe8dc;
}

.hoop{
    background-color: #5ebfffd0;
}

.yoga{
    background-color: #95ff95f6;
}

.stretching{
    background-color: #c0e6fff5;
}

.mobility{
    background-color: #fdff88;
}